<!DOCTYPE HTML>
<html>
    <head>
      <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles/style.css')}}">
      <link rel="stylesheet" href="C:\Users\XGUy\node_modules\bootstrap\dist\css\bootstrap.min.css" type="text/css"></style>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id = "body">
      <script src="C:\Users\XGUy\node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
      <div class="container">
        <header>
          <p>Hello</p>
      </header>
      <nav>
        <ul id="nav-list">
          <li class="navlist-item"><a href="">Maths</a></li>
          <li class="navlist-item"><a href="#phy">Physics</a></li>
          <li class="navlist-item"><a href="">Chemistry</a></li>
          <li class="navlist-item"><a href="">Biology</a></li>
        </ul>
      </nav>
      <article>
        <div id = "phy">
         <h1>Physics:</h1>
         <p>Check <a href = "">this link</a> out  below to find out websites , pastpapers and more.....</p>
         
        </div>
      </article>
      <aside>
      </aside>
      <footer>
      </footer>
      </div>
    </body>
</html>
